



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right,  #ffffff28,  #ffffff28), url(./bg.jpg); 
    background-position: center;
    background-size: cover, cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
    width: min(800px, 80vw);
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 20px;
    
}


.week{
    font-size: min(32px, 4vw);
}


.weeklygoal{
    text-align: center;
    font-size: min(33px, 3vw);
}

.target, .leftover{
    color: #000;
    font-weight:600;
}

.dailyhour{
    padding: 0.2em 0.1em;
    border: 2px solid #fff;
    margin: 0 auto;
    font-size: min(68px, 6vw);
    max-width: 400px;
    text-align: center;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
    /*width: 100%;*/
    justify-content: space-around;
}


.buttons button{
    padding: 0.8rem 1.8rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}


button:enabled:hover{
    background-color: #fff;
    color: #000;
}

button:disabled{
    cursor: not-allowed;
}



.cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-align: center;
}




.hidden{
    display: none;
}

.form{
    background-color: rgba(0, 0, 0, 0.507);
    color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.form input{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.form button{
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.form button:hover{
    background-color: #fff;
    color: #000;
}



.form .closesign{
    position: relative;
    width: 20px;
    height: 20px;
}


.form .first, .form .secondspan{
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    cursor: pointer;
}


.form .first{
    left: 0;
    top: 0;
    transform: rotate(45deg);
}

.form .secondspan{
    right: 0;
    top: 0;
    transform: rotate(-45deg);
}



@media (max-width : 890px) {
    html{
        font-size: 12px;
    }


    .buttons button{
        font-weight: 400;
    }

}